
<ul class="sidebar-menu">
    <li>
        <a href="~/Home/Index">
            <i class="fa fa-th"></i> <span>Home</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-life-saver"></i>
            <span>Admin Panel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o text-white"></i>Admin List</a></li> 
            <li><a href="#"><i class="fa fa-circle-o text-white"></i>User List</a></li> 
            @*<li><a href="~/Role/Index"><i class="fa fa-circle-o text-green"></i>Role</a></li>*@
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-gear (alias)"></i>
            <span>Class Settings </span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Classes/Index"><i class="fa fa-circle-o text-white"></i>Class</a></li>
            <li><a href="~/Groups/Index"><i class="fa fa-circle-o text-white"></i>Group</a></li>
            <li><a href="~/Subjects/Index"><i class="fa fa-circle-o text-white"></i>Subject</a></li>
            <li><a href="~/SubjectChapterSetups/Create"><i class="fa fa-circle-o text-white"></i>Subject Chapter</a></li>
        
            @*<li><a href="~/CourseCategories/Index"><i class="fa fa-circle-o text-blue"></i>Course Category </a></li>
            <li><a href="~/Students/Index"><i class="fa fa-circle-o text-green"></i>Student</a></li>
            <li><a href="~/Instructors/Create"><i class="fa fa-circle-o text-yellow"></i>Instructor</a></li>*@
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-pencil"></i>
            <span>Subject Chapter </span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/SubjectChapterWiseDetails/Create"><i class="fa fa-circle-o text-white"></i>New Content</a></li>
            <li><a href="~/SubjectChapterWiseDetails/Index"><i class="fa fa-circle-o text-white"></i>Content List</a></li>
         </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-pencil"></i>
            <span>Subject Chapter Question</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/SubjectChapterQuestionSetups/Index"><i class="fa fa-circle-o text-white"></i>Question Setup</a></li>
            <li><a href="~/SubjectChapterQuestionDetails/Create"><i class="fa fa-circle-o text-white"></i>Question Generate</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-pencil"></i>
            <span>User View</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a target="_blank" href="~/Home/UserView"><i class="fa fa-circle-o text-white"></i>User View</a></li>
         
        </ul>
    </li>


</ul>